<project version="4">
  <component name="BookmarkManager">
    <bookmark url="file://$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/support/AbstractApplicationContext.java" description="AA0 单例入口" line="886" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/DefaultListableBeanFactory.java" description="AB0 入口实现" line="822" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/DefaultListableBeanFactory.java" description="AC0 方法getBean（先走缓存）" line="859" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java" description="AD0 创建Wrapper（创建了对象）" line="528" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java" description="AE0 获取对象" line="531" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java" description="AF0 属性填充（循环引用在这里解决）" line="576" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java" description="AG0 暴露对象（用于代理）" line="580" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java" description="AH0 缓存单例" line="594" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java" description="BA0 创建对象流程" line="1150" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java" description="CA0 属性填充流程" line="1387" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java" description="CA1 填充模式确认" line="1415" />
    <bookmark url="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java" description="CA2 属性注入" line="1441" />
  </component>
  <component name="FavoritesManager">
    <favorites_list name="spring" />
  </component>
  <component name="FileEditorManager">
    <leaf SIDE_TABS_SIZE_LIMIT_KEY="-1">
      <file pinned="false" current-in-tab="true">
        <entry file="file://$PROJECT_DIR$/aa-test/src/main/java/com/slk/MyApplication.java">
          <provider selected="true" editor-type-id="text-editor">
            <state relative-caret-position="414">
              <caret line="18" lean-forward="true" selection-start-line="18" selection-end-line="18" />
              <folding>
                <element signature="imports" expanded="true" />
              </folding>
            </state>
          </provider>
        </entry>
      </file>
    </leaf>
  </component>
  <component name="FindInProjectRecents">
    <findStrings>
      <find>kotlin-cor</find>
      <find>projectid</find>
      <find>hasInstantiationAwareBeanPostProcessors</find>
      <find>CONFIGURATION_CLASS_FULL</find>
    </findStrings>
  </component>
  <component name="IdeDocumentHistory">
    <option name="CHANGED_PATHS">
      <list>
        <option value="$PROJECT_DIR$/spring-core/kotlin-coroutines/kotlin-coroutines.gradle" />
        <option value="$PROJECT_DIR$/spring-core/spring-core.gradle" />
        <option value="$PROJECT_DIR$/gradle.properties" />
        <option value="$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java" />
        <option value="$PROJECT_DIR$/aa-test/src/main/java/com/slk/bean/TestBeanDependence.java" />
        <option value="$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/annotation/ConfigurationClassPostProcessor.java" />
        <option value="$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/annotation/ConfigurationClassParser.java" />
        <option value="$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/annotation/ConfigurationClassUtils.java" />
        <option value="$PROJECT_DIR$/aa-test/src/main/java/com/slk/MyApplication.java" />
      </list>
    </option>
  </component>
  <component name="IgnoredFileRootStore">
    <option name="generatedRoots">
      <set>
        <option value="$PROJECT_DIR$/.idea" />
      </set>
    </option>
  </component>
  <component name="ProjectFrameBounds" x="-198" y="72" width="1920" height="1019" />
  <component name="ProjectView">
    <navigator currentView="ProjectPane" proportions="" version="1" />
    <panes>
      <pane id="PackagesPane" />
      <pane id="ProjectPane">
        <subPane>
          <expand>
            <path>
              <item name="spring" type="b2602c69:ProjectViewProjectNode" />
              <item name="spring" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
            </path>
            <path>
              <item name="spring" type="b2602c69:ProjectViewProjectNode" />
              <item name="spring" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="aa-test" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
            </path>
            <path>
              <item name="spring" type="b2602c69:ProjectViewProjectNode" />
              <item name="spring" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="aa-test" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
            </path>
            <path>
              <item name="spring" type="b2602c69:ProjectViewProjectNode" />
              <item name="spring" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="aa-test" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
              <item name="main" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
            </path>
            <path>
              <item name="spring" type="b2602c69:ProjectViewProjectNode" />
              <item name="spring" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="aa-test" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
              <item name="main" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="java" type="462c0819:PsiDirectoryNode" />
            </path>
            <path>
              <item name="spring" type="b2602c69:ProjectViewProjectNode" />
              <item name="spring" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="aa-test" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
              <item name="main" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="java" type="462c0819:PsiDirectoryNode" />
              <item name="slk" type="462c0819:PsiDirectoryNode" />
            </path>
          </expand>
          <select />
        </subPane>
      </pane>
      <pane id="Scope" />
    </panes>
  </component>
  <component name="TimeTrackingManager">
    <option name="totallyTimeSpent" value="15261000" />
  </component>
  <component name="ToolWindowManager">
    <editor active="true" />
    <layout>
      <window_info anchor="bottom" id="Internal Method Tracing" order="16" />
      <window_info anchor="bottom" id="Build" order="4" weight="0.32872927" />
      <window_info anchor="bottom" id="Flow" order="12" />
      <window_info anchor="bottom" id="Messages" order="10" />
      <window_info anchor="bottom" id="Run" order="5" sideWeight="0.4996651" weight="0.09944751" />
      <window_info anchor="bottom" id="Spring" order="14" />
      <window_info anchor="bottom" id="TypeScript" order="17" />
      <window_info anchor="bottom" id="Services" order="8" show_stripe_button="false" />
      <window_info anchor="right" id="Multi Preview" order="4" />
      <window_info anchor="bottom" id="Terminal" order="19" />
      <window_info anchor="right" id="JSF" order="3" />
      <window_info anchor="bottom" id="Event Log" order="2" sideWeight="0.5003349" side_tool="true" weight="0.28867403" />
      <window_info anchor="bottom" id="TODO" order="3" />
      <window_info anchor="right" id="Word Book" order="2" side_tool="true" />
      <window_info anchor="bottom" id="Find" order="1" />
      <window_info anchor="bottom" id="Java Enterprise" order="9" />
      <window_info anchor="bottom" id="Project Problems" order="18" />
      <window_info anchor="bottom" id="Database Changes" order="13" show_stripe_button="false" />
      <window_info anchor="bottom" id="Version Control" order="0" />
      <window_info anchor="right" id="Ant" order="5" />
      <window_info id="Commit" order="2" />
      <window_info anchor="right" id="Gradle" order="6" weight="0.6095111" />
      <window_info content_ui="combo" id="Project" order="0" sideWeight="0.49539876" visible="true" weight="0.135318" />
      <window_info anchor="right" id="Database" order="1" />
      <window_info anchor="bottom" id="Endpoints" order="11" weight="0.32872927" />
      <window_info id="Favorites" order="3" sideWeight="0.50460124" weight="0.18888144" />
      <window_info id="Structure" order="1" sideWeight="0.88375556" weight="0.101808436" />
      <window_info anchor="bottom" id="Problems View" order="6" />
      <window_info anchor="bottom" id="Inspection" order="15" weight="0.4" />
      <window_info anchor="bottom" id="Debug" order="7" weight="0.19060774" />
      <window_info anchor="right" id="Bean Validation" order="0" />
    </layout>
  </component>
  <component name="debuggerHistoryManager">
    <expressions id="breakpointCondition">
      <expression>
        <expression-string>beanName.equals(&quot;testBeanDependence&quot;)</expression-string>
        <language-id>JAVA</language-id>
        <evaluation-mode>EXPRESSION</evaluation-mode>
      </expression>
      <expression>
        <expression-string>beanName.equals(&quot;testBean&quot;)</expression-string>
        <language-id>JAVA</language-id>
        <evaluation-mode>EXPRESSION</evaluation-mode>
      </expression>
    </expressions>
    <expressions id="evaluateExpression">
      <expression>
        <expression-string>parser.getConfigurationClasses()</expression-string>
        <language-id>JAVA</language-id>
        <evaluation-mode>EXPRESSION</evaluation-mode>
      </expression>
      <expression>
        <expression-string>bw.getWrappedInstance()</expression-string>
        <language-id>JAVA</language-id>
        <evaluation-mode>EXPRESSION</evaluation-mode>
      </expression>
      <expression>
        <expression-string>getBeanPostProcessors()</expression-string>
        <language-id>JAVA</language-id>
        <evaluation-mode>EXPRESSION</evaluation-mode>
      </expression>
      <expression>
        <expression-string>mbd.getPropertyValues()</expression-string>
        <language-id>JAVA</language-id>
        <evaluation-mode>EXPRESSION</evaluation-mode>
      </expression>
      <expression>
        <expression-string>hasInstantiationAwareBeanPostProcessors()</expression-string>
        <language-id>JAVA</language-id>
        <evaluation-mode>EXPRESSION</evaluation-mode>
      </expression>
      <expression>
        <expression-string>!mbd.isSynthetic()</expression-string>
        <language-id>JAVA</language-id>
        <evaluation-mode>EXPRESSION</evaluation-mode>
      </expression>
    </expressions>
  </component>
  <component name="editorHistoryManager">
    <entry file="file://$PROJECT_DIR$/spring-core/src/main/java/org/springframework/core/AttributeAccessorSupport.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="529">
          <caret line="37" column="22" selection-start-line="37" selection-start-column="22" selection-end-line="37" selection-end-column="22" />
          <folding>
            <element signature="imports" expanded="true" />
          </folding>
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-core/kotlin-coroutines/src/main/kotlin/org/springframework/core/CoroutinesUtils.kt">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="304">
          <caret line="25" column="31" lean-forward="true" selection-start-line="25" selection-start-column="31" selection-end-line="25" selection-end-column="31" />
          <folding>
            <element signature="n#!!doc" expanded="true" />
          </folding>
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-core/kotlin-coroutines/kotlin-coroutines.gradle">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="322">
          <caret line="14" selection-start-line="14" selection-end-line="14" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-core/spring-core.gradle">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="1150">
          <caret line="50" column="43" selection-start-line="50" selection-start-column="43" selection-end-line="50" selection-end-column="43" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/gradle.properties">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="230">
          <caret line="10" selection-start-line="10" selection-end-line="10" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/aa-test/build.gradle">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="253">
          <caret line="11" column="14" selection-start-line="11" selection-start-column="14" selection-end-line="11" selection-end-column="14" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/.idea/workspace.xml">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="170">
          <caret line="67" column="28" selection-start-line="67" selection-start-column="19" selection-end-line="67" selection-end-column="28" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/support/PostProcessorRegistrationDelegate.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="-62">
          <caret line="46" column="23" selection-start-line="46" selection-start-column="23" selection-end-line="46" selection-end-column="23" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/annotation/AnnotationConfigApplicationContext.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="284">
          <caret line="97" column="10" lean-forward="true" selection-start-line="97" selection-start-column="10" selection-end-line="97" selection-end-column="10" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/support/AbstractApplicationContext.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="18676">
          <caret line="886" selection-start-line="886" selection-end-line="886" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/config/ConfigurableListableBeanFactory.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="3220">
          <caret line="159" column="9" selection-start-line="159" selection-start-column="9" selection-end-line="159" selection-end-column="9" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/DefaultListableBeanFactory.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="18354">
          <caret line="859" selection-start-line="859" selection-end-line="859" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/MergedBeanDefinitionPostProcessor.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="529">
          <caret line="37" column="29" selection-start-line="37" selection-start-column="29" selection-end-line="37" selection-end-column="29" />
          <folding>
            <element signature="docComment;method#resetBeanDefinition#0;class#MergedBeanDefinitionPostProcessor#0" />
          </folding>
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/PropertyValues.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="232">
          <caret line="36" column="17" selection-start-line="36" selection-start-column="17" selection-end-line="36" selection-end-column="17" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/config/InstantiationAwareBeanPostProcessor.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="2231">
          <caret line="115" selection-start-line="115" selection-end-line="115" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/annotation/InjectionMetadata.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="4485">
          <caret line="232" column="39" selection-start-line="232" selection-start-column="39" selection-end-line="232" selection-end-column="39" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/AbstractNestablePropertyAccessor.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="3588">
          <caret line="203" selection-start-line="203" selection-end-line="203" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/BeanWrapper.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="1196">
          <caret line="66" column="11" selection-start-line="66" selection-start-column="11" selection-end-line="66" selection-end-column="11" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/config/InstantiationAwareBeanPostProcessorAdapter.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="1196">
          <caret line="71" column="26" selection-start-line="71" selection-start-column="26" selection-end-line="71" selection-end-column="26" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractBeanFactory.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="5980">
          <caret line="292" selection-start-line="292" selection-end-line="292" />
          <folding>
            <element signature="e#33706#33707#0" expanded="true" />
            <element signature="e#33764#33765#0" expanded="true" />
          </folding>
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/DefaultSingletonBeanRegistry.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="5152">
          <caret line="248" selection-start-line="248" selection-end-line="248" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/annotation/AutowiredAnnotationBeanPostProcessor.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="1190">
          <caret line="385" column="24" selection-start-line="385" selection-start-column="24" selection-end-line="385" selection-end-column="24" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/BeanDefinitionRegistry.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="140">
          <caret line="43" column="69" lean-forward="true" selection-start-line="43" selection-start-column="69" selection-end-line="43" selection-end-column="69" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/annotation/ConfigurationClassBeanDefinitionReader.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="801">
          <caret line="136" column="35" lean-forward="true" selection-start-line="136" selection-start-column="35" selection-end-line="136" selection-end-column="35" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/config/BeanPostProcessor.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="966">
          <caret line="57" column="36" selection-start-line="57" selection-start-column="36" selection-end-line="57" selection-end-column="36" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/annotation/ConfigurationClassParser.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="2944">
          <caret line="210" column="13" selection-start-line="210" selection-start-column="13" selection-end-line="210" selection-end-column="13" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/annotation/ConfigurationClassUtils.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="2392">
          <caret line="141" selection-start-line="141" selection-end-line="141" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/AbstractAutowireCapableBeanFactory.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="12259">
          <caret line="576" selection-start-line="576" selection-end-line="576" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/aa-test/src/main/java/com/slk/bean/TestBean.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="328">
          <caret line="16" column="41" selection-start-line="16" selection-start-column="41" selection-end-line="16" selection-end-column="41" />
          <folding>
            <element signature="e#300#301#0" expanded="true" />
            <element signature="e#346#347#0" expanded="true" />
          </folding>
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/aa-test/src/main/java/com/slk/bean/TestBeanDependence.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="161">
          <caret line="8" selection-start-line="8" selection-end-line="9" selection-end-column="30" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/support/BeanDefinitionRegistryPostProcessor.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="506">
          <caret line="37" column="59" selection-start-line="37" selection-start-column="53" selection-end-line="38" selection-end-column="70" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-beans/src/main/java/org/springframework/beans/factory/config/BeanFactoryPostProcessor.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="1012">
          <caret line="58" column="25" selection-start-line="58" selection-start-column="25" selection-end-line="58" selection-end-column="25" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/spring-context/src/main/java/org/springframework/context/annotation/ConfigurationClassPostProcessor.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="2710">
          <caret line="292" selection-start-line="292" selection-end-line="292" />
          <folding>
            <element signature="docComment;class#ConfigurationClassPostProcessor#0" />
            <element signature="docComment;field#IMPORT_BEAN_NAME_GENERATOR#0;class#ConfigurationClassPostProcessor#0" />
          </folding>
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/aa-test/src/main/java/com/slk/MyApplication.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="414">
          <caret line="18" lean-forward="true" selection-start-line="18" selection-end-line="18" />
          <folding>
            <element signature="imports" expanded="true" />
          </folding>
        </state>
      </provider>
    </entry>
  </component>
  <component name="masterDetails">
    <states>
      <state key="ArtifactsStructureConfigurable.UI">
        <settings>
          <artifact-editor />
        </settings>
      </state>
      <state key="FacetStructureConfigurable.UI" />
      <state key="GlobalLibrariesConfigurable.UI" />
      <state key="JdkListConfigurable.UI" />
      <state key="ModuleStructureConfigurable.UI">
        <settings>
          <last-edited>Spring|aa-test_main|aa-test|spring</last-edited>
          <splitter-proportions>
            <option name="proportions">
              <list>
                <option value="0.60414267" />
              </list>
            </option>
          </splitter-proportions>
        </settings>
      </state>
      <state key="ProjectLibrariesConfigurable.UI" />
    </states>
  </component>
</project>