<project version="4">
  <component name="FileEditorManager">
    <leaf>
      <file pinned="false" current-in-tab="false">
        <entry file="file://$PROJECT_DIR$/src/main/java/com/slk/service/UserDetailsServiceImpl.java">
          <provider selected="true" editor-type-id="text-editor">
            <state relative-caret-position="330">
              <caret line="25" column="21" selection-start-line="25" selection-start-column="21" selection-end-line="25" selection-end-column="21" />
            </state>
          </provider>
        </entry>
      </file>
      <file pinned="false" current-in-tab="true">
        <entry file="file://$PROJECT_DIR$/src/main/java/com/slk/config/WebSecurityConfig.java">
          <provider selected="true" editor-type-id="text-editor">
            <state relative-caret-position="83">
              <caret line="19" column="13" lean-forward="true" selection-start-line="19" selection-start-column="13" selection-end-line="19" selection-end-column="13" />
              <folding>
                <element signature="e#435#436#0" expanded="true" />
                <element signature="e#485#486#0" expanded="true" />
              </folding>
            </state>
          </provider>
        </entry>
      </file>
      <file pinned="false" current-in-tab="false">
        <entry file="file://$PROJECT_DIR$/src/main/java/com/slk/controller/UserController.java">
          <provider selected="true" editor-type-id="text-editor">
            <state relative-caret-position="308">
              <caret line="16" column="22" lean-forward="true" selection-start-line="16" selection-start-column="22" selection-end-line="16" selection-end-column="22" />
              <folding>
                <element signature="imports" expanded="true" />
              </folding>
            </state>
          </provider>
        </entry>
      </file>
    </leaf>
  </component>
  <component name="IdeDocumentHistory">
    <option name="CHANGED_PATHS">
      <list>
        <option value="$PROJECT_DIR$/src/main/java/com/slk/controller/UserController.java" />
        <option value="$PROJECT_DIR$/src/main/java/com/slk/service/UserDetailsServiceImpl.java" />
        <option value="$PROJECT_DIR$/src/main/java/com/slk/config/WebSecurityConfig.java" />
      </list>
    </option>
  </component>
  <component name="ProjectFrameBounds" x="-14" y="-14" width="2586" height="1546" extendedState="6" />
  <component name="ProjectView">
    <navigator currentView="ProjectPane" proportions="" version="1" />
    <panes>
      <pane id="PackagesPane" />
      <pane id="Scope" />
      <pane id="ProjectPane">
        <subPane>
          <expand>
            <path>
              <item name="simpleBootProject" type="b2602c69:ProjectViewProjectNode" />
              <item name="springBootExample" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
            </path>
            <path>
              <item name="simpleBootProject" type="b2602c69:ProjectViewProjectNode" />
              <item name="springBootExample" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
            </path>
            <path>
              <item name="simpleBootProject" type="b2602c69:ProjectViewProjectNode" />
              <item name="springBootExample" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
              <item name="main" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
            </path>
            <path>
              <item name="simpleBootProject" type="b2602c69:ProjectViewProjectNode" />
              <item name="springBootExample" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
              <item name="main" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="java" type="462c0819:PsiDirectoryNode" />
            </path>
            <path>
              <item name="simpleBootProject" type="b2602c69:ProjectViewProjectNode" />
              <item name="springBootExample" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
              <item name="main" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="java" type="462c0819:PsiDirectoryNode" />
              <item name="slk" type="462c0819:PsiDirectoryNode" />
            </path>
            <path>
              <item name="simpleBootProject" type="b2602c69:ProjectViewProjectNode" />
              <item name="springBootExample" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
              <item name="main" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="java" type="462c0819:PsiDirectoryNode" />
              <item name="slk" type="462c0819:PsiDirectoryNode" />
              <item name="config" type="462c0819:PsiDirectoryNode" />
            </path>
            <path>
              <item name="simpleBootProject" type="b2602c69:ProjectViewProjectNode" />
              <item name="springBootExample" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
              <item name="main" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="java" type="462c0819:PsiDirectoryNode" />
              <item name="slk" type="462c0819:PsiDirectoryNode" />
              <item name="controller" type="462c0819:PsiDirectoryNode" />
            </path>
            <path>
              <item name="simpleBootProject" type="b2602c69:ProjectViewProjectNode" />
              <item name="springBootExample" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="src" type="462c0819:PsiDirectoryNode" />
              <item name="main" type="8a07ba80:GradleTreeStructureProvider$GradleModuleDirectoryNode" />
              <item name="java" type="462c0819:PsiDirectoryNode" />
              <item name="slk" type="462c0819:PsiDirectoryNode" />
              <item name="service" type="462c0819:PsiDirectoryNode" />
            </path>
          </expand>
          <select />
        </subPane>
      </pane>
    </panes>
  </component>
  <component name="ServiceViewManager">
    <option name="viewStates">
      <list>
        <serviceView>
          <option name="contentProportion" value="0.16873449" />
          <treeState>
            <expand>
              <path>
                <item name="services root" type="e789fda9:ObjectUtils$Sentinel" />
                <item name="Spring Boot" type="7427dc5b:ServiceModel$ServiceGroupNode" />
              </path>
              <path>
                <item name="services root" type="e789fda9:ObjectUtils$Sentinel" />
                <item name="Spring Boot" type="7427dc5b:ServiceModel$ServiceGroupNode" />
                <item name="Finished" type="7427dc5b:ServiceModel$ServiceGroupNode" />
              </path>
            </expand>
            <select />
          </treeState>
        </serviceView>
      </list>
    </option>
  </component>
  <component name="TimeTrackingManager">
    <option name="totallyTimeSpent" value="1721000" />
  </component>
  <component name="ToolWindowManager">
    <editor active="true" />
    <layout>
      <window_info content_ui="combo" id="Project" order="0" visible="true" weight="0.21243942" />
      <window_info id="Structure" order="1" weight="0.25" />
      <window_info id="Favorites" order="2" side_tool="true" />
      <window_info id="Commit" order="3" />
      <window_info id="Pull Requests" order="4" />
      <window_info id="Persistence" order="5" side_tool="true" />
      <window_info id="Web" order="6" side_tool="true" />
      <window_info anchor="bottom" id="Version Control" order="0" />
      <window_info anchor="bottom" id="Find" order="1" />
      <window_info anchor="bottom" id="Event Log" order="2" side_tool="true" />
      <window_info anchor="bottom" id="Run" order="2" />
      <window_info anchor="bottom" id="Problems View" order="3" />
      <window_info anchor="bottom" id="Debug" order="3" weight="0.4" />
      <window_info anchor="bottom" id="TODO" order="3" />
      <window_info anchor="bottom" id="Inspection" order="4" weight="0.4" />
      <window_info anchor="bottom" id="Terminal" order="4" />
      <window_info anchor="bottom" id="Internal Method Tracing" order="5" />
      <window_info anchor="bottom" id="TypeScript" order="5" />
      <window_info anchor="bottom" id="Flow" order="5" />
      <window_info anchor="bottom" id="Database Changes" order="5" />
      <window_info anchor="bottom" id="Services" order="7" visible="true" weight="0.27382752" />
      <window_info anchor="bottom" id="Java Enterprise" order="7" />
      <window_info anchor="bottom" id="Endpoints" order="7" />
      <window_info anchor="bottom" id="Spring" order="7" />
      <window_info anchor="bottom" id="Build" order="7" weight="0.32980332" />
      <window_info anchor="right" id="Gradle" order="4" />
      <window_info anchor="right" id="Database" order="5" />
      <window_info anchor="right" id="Word Book" order="5" side_tool="true" />
    </layout>
  </component>
  <component name="editorHistoryManager">
    <entry file="jar://$GRADLE_USER_HOME$/caches/modules-2/files-2.1/org.springframework.security/spring-security-config/5.3.5.RELEASE/2f554d51821b47cf274cc48e4e51878ca51e6669/spring-security-config-5.3.5.RELEASE-sources.jar!/org/springframework/security/config/annotation/web/builders/HttpSecurity.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="211">
          <caret line="1254" column="84" selection-start-line="1254" selection-start-column="84" selection-end-line="1254" selection-end-column="84" />
        </state>
      </provider>
    </entry>
    <entry file="jar://$GRADLE_USER_HOME$/caches/modules-2/files-2.1/org.springframework.security/spring-security-core/5.3.5.RELEASE/f38d65bb637f78b8cdd616fd07fc8781968a979e/spring-security-core-5.3.5.RELEASE-sources.jar!/org/springframework/security/core/userdetails/User.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="219">
          <caret line="86" column="5" lean-forward="true" selection-start-line="86" selection-start-column="5" selection-end-line="86" selection-end-column="5" />
        </state>
      </provider>
    </entry>
    <entry file="jar://$GRADLE_USER_HOME$/caches/modules-2/files-2.1/org.springframework.security/spring-security-core/5.3.5.RELEASE/f38d65bb637f78b8cdd616fd07fc8781968a979e/spring-security-core-5.3.5.RELEASE-sources.jar!/org/springframework/security/core/authority/SimpleGrantedAuthority.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="249">
          <caret line="53" column="42" lean-forward="true" selection-start-line="53" selection-start-column="42" selection-end-line="53" selection-end-column="42" />
          <folding>
            <element signature="e#1496#1497#0" expanded="true" />
            <element signature="e#1514#1515#0" expanded="true" />
            <element signature="e#1773#1774#0" expanded="true" />
            <element signature="e#1807#1808#0" expanded="true" />
            <element signature="e#1847#1848#0" expanded="true" />
            <element signature="e#1870#1871#0" expanded="true" />
          </folding>
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/src/main/java/com/slk/service/UserDetailsServiceImpl.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="330">
          <caret line="25" column="21" selection-start-line="25" selection-start-column="21" selection-end-line="25" selection-end-column="21" />
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/src/main/java/com/slk/controller/UserController.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="308">
          <caret line="16" column="22" lean-forward="true" selection-start-line="16" selection-start-column="22" selection-end-line="16" selection-end-column="22" />
          <folding>
            <element signature="imports" expanded="true" />
          </folding>
        </state>
      </provider>
    </entry>
    <entry file="jar://$GRADLE_USER_HOME$/caches/modules-2/files-2.1/org.springframework.security/spring-security-config/5.3.5.RELEASE/2f554d51821b47cf274cc48e4e51878ca51e6669/spring-security-config-5.3.5.RELEASE-sources.jar!/org/springframework/security/config/annotation/web/configurers/ExpressionUrlAuthorizationConfigurer.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="153">
          <caret line="251" column="29" selection-start-line="251" selection-start-column="25" selection-end-line="251" selection-end-column="30" />
          <folding>
            <element signature="e#9997#9998#0" expanded="true" />
            <element signature="e#10046#10047#0" expanded="true" />
          </folding>
        </state>
      </provider>
    </entry>
    <entry file="file://$PROJECT_DIR$/src/main/java/com/slk/config/WebSecurityConfig.java">
      <provider selected="true" editor-type-id="text-editor">
        <state relative-caret-position="83">
          <caret line="19" column="13" lean-forward="true" selection-start-line="19" selection-start-column="13" selection-end-line="19" selection-end-column="13" />
          <folding>
            <element signature="e#435#436#0" expanded="true" />
            <element signature="e#485#486#0" expanded="true" />
          </folding>
        </state>
      </provider>
    </entry>
  </component>
</project>